.errormsg{
    font-size: 14px;
    color: #dc3545;
    display: block;
}

.msgerr{
    font-size: 15px;
    color: #dc3545;
    display: block;
    font-family: Goutham;
    line-height: normal;
   }